<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>NSHealthShareUsageDescription</key>
  <string>Health data is used to display your activity and generate advice.</string>
  <key>NSMotionUsageDescription</key>
  <string>Motion data is used to track steps in real-time.</string>
  <key>NSCalendarsUsageDescription</key>
  <string>Calendar access is required to show and add events.</string>
</dict>
</plist>
